body {
	margin: 0;
	background: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1 {
	text-align: center;
	font-size: 26px;
}

#game-container {
	position: relative;
	width: 912px;
	height: 712px;
	image-rendering: pixelated;
	border: 4px solid white;
	overflow: hidden;
	background: whitesmoke;
	background-image: url(./images/tiles.webp);
	background-repeat: repeat;
	background-size: 200px 100px;
}

#world {
	position: relative;
	width: 512px;
	height: 512px;
}

.location {
	position: absolute;
	width: 64px;
	height: 64px;
}

.character {
	position: absolute;
	width: 62px;
	height: 62px;
	z-index: 1;
	transition: all 0.3s linear;
}

#dialog-box {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.85);
	color: white;
	font-family: monospace;
	font-size: 24px;
	display: flex;
	align-items: flex-start;
	gap: 10px;
	padding: 10px;
	box-sizing: border-box;
	z-index: 2;
}

#face {
	width: 74px;
	height: 74px;
}

#dialog-text {
	flex: 1;
	white-space: pre-wrap;
}

.hidden {
	display: none;
}

#dialog-box.hidden {
	display: none;
}

#infoAutora {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: absolute;
	top: 5px;
	left: 5px;
	background-color: whitesmoke;
	border: 2px solid gray;
	box-shadow: 2px 2px 2px gray;
	padding: 10px 10px;
	border-radius: 10px;
}
